{% extends 'base.html' %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
    {{ theme.h1(_('Sign In')) }}

    {{ wtf.quick_form(form) }}

<div class="flex flex-col gap-2 mt-2">

    <p>{{ _('New User?') }} {{theme.nav_link(_('Click to Register!'), url_for('auth.register'), 'p-1 text-yellow-200') }}</p>

    <p>
        {{ _('Forgot Your Password?') }}
        {{ theme.nav_link(_('Click to Reset It'), url_for('auth.reset_password_request'), 'p-1 text-yellow-200')  }}
    </p>
    </div>
{% endblock %}