<div id="npc-{{user.id}}"
     class="p-1 border border-black rounded-sm shadow-sm shadow-black bg-neutral-200 text-zinc-700 inline-block">
    <div class="flex flex-row items-center">
        <a href="{{url_for('profile.user', username=user.username)}}" target="_blank"
        class="underline hover:text-yellow-800">
            {{user.username}}
        </a>
        <span class="text-blue-600 cursor-pointer hover:text-blue-800"
              hx-post="/discussions/{{discussion.id}}/assign/{{user.id}}"
              hx-target="#npc-{{user.id}}"
              hx-swap="outerHTML">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
            </svg>
        </span>
    </div>
</div>