<div class="grid col-span-2 grid-cols-subgrid border border-yellow-200 rounded-md p-2 shadow-md shadow-yellow-400
 {{ 'bg-yellow-200' if current_user == post.author else 'bg-yellow-100 ms-4' }}">
    <div class="grid col-span-2 grid-cols-subgrid items-center">
        <a class="text-lg font-bold" href="{{ url_for('profile.user', username=post.author.username) }}">{{
            post.author.username }}</a>
        <h4 class="text-sm italic">{{ moment(post.created_at).format('LLL') }}</h4>
    </div>

    <div class="grid col-span-2 grid-cols-subgrid ">
        <a href="{{ url_for('profile.user', username=post.author.username) }}">
            <img src="{{ post.author.avatar(70) }}"/>
        </a>
        <div class="flex flex-col gap-2">
            <p>{{ post.body }}</p>
        </div>
    </div>
</div>
