{% extends "base.html" %}

{% block content %}
<div class="h-full flex flex-col gap-4">
    {{ theme.h1(_('Discussion')) }}
    <h2 class="text-xl font-bold">Subject: {{discussion.title}} - {{discussion.state}}</h2>

    {% if discussion.state == 'SETUP' %}
    {% include("discussions/_setup.html") %}
    {% endif %}



    <div class="grow  overflow-y-scroll">
        <div class="grid grid-cols-[auto_1fr] gap-4" id="posts-container">

            {% if posts %}
                {% for post in posts %}
                    {% include("discussions/post.html") %}
                {% endfor %}
            {% endif %}

            <div hx-get="/discussions/{{discussion.id}}/posts/{{discussion.last_post_id()}}" hx-trigger="every 2s"
                 hx-swap="outerHTML show:bottom">
                {% if discussion.has_stalled() %}
                <!-- The discussion has stalled until another human posts.</p> -->
                {% endif %}
            </div>

        </div>
    </div>

    {% if discussion.state == 'RUNNING' %}
        {% include("discussions/_running.html") %}
    {% endif %}

    <div class="border border-slate-600 rounded-md shadow-md shadow-slate-600 p-2 flex flex-col gap-2">


        {{ wtf.quick_form(form, method=None) }}
    </div>
</div>
{% endblock %}