{% extends "base.html" %}

{% block content %}
{{ theme.h1(discussion.title) }}
<h2 class="text-lg">{{_('Discussion')}}</h2>

<div class="mt-4 border border-slate-600 rounded-md shadow-md shadow-slate-600 p-2 flex flex-col gap-2">
    {{ wtf.quick_form(form, method=None) }}
</div>

<div class="grid grid-cols-[auto_1fr] gap-4 mt-4 gap-4">

    <div hx-get="/discussions/{{discussion.id}}/posts/{{last_post_id}}" hx-trigger="every 2s" hx-swap="outerHTML"></div>

    {% if posts %}
        {% for post in posts %}
            {% include("discussions/post.html") %}
        {% endfor %}
    {% endif %}

</div>

{% endblock %}