{% extends 'base.html' %}

{% block content %}
{{ theme.h1(_('Sign In')) }}

{{ wtf.quick_form(form) }}

<div class="flex flex-col gap-4 mt-2">

    <p class="flex flex-row gap-2">
        <span>{{ _('New User?') }}</span>
        {{theme.link_link(_('Click to Register!'), url_for('auth.register')) }}
    </p>

    <p class="flex flex-row gap-2">
        <span>{{ _('Forgot Your Password?') }}</span>
        {{ theme.link_link(_('Click to Reset It'), url_for('auth.reset_password_request')) }}
    </p>
</div>
{% endblock %}